

@font-face{
    font-family: ChauPhilomeneOne;
    src: url(fonts/ChauPhilomeneOne/ChauPhilomeneOne-Regular.ttf);
}
@font-face{
    font-family: Raleway;
    src: url(fonts/Raleway/Raleway-SemiBold.ttf);
}
*{
    font-family: Raleway;
    box-sizing: border-box;

}
/* general */
body{
    margin: 0;
    background-image: url('bcg/wood.jpg');
    background-attachment: fixed;
    background-size:  100% 100%; 

}
a {
    text-decoration: none;
}
.photo{
    width: 200px;
    margin: 10px;
    border: rgb(255, 255, 255) 3px solid;
    

}
.photo:hover{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    cursor: pointer;

}
.photo:active {
    box-shadow: none;
    transform: translateY(4px);
  }
/* content */
.welcome{
    font-size: 3rem;
    /* background-color:#6c648b; */
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px rgb(0, 0, 0); 
    margin: 0 auto;
    text-align: center;
}
.welcome button{
    width: 200px;
    height: 200px;
    align-self: center;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    border: 2px solid azure; 
    cursor: pointer;
}

/* HEADER */
.logo{
    font-family: ChauPhilomeneOne;
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.8px rgb(0, 0, 0); 
}

.main-header{
    background-color: #97dbf1d7;
    box-shadow:  inset 0 -2px 0 rgb(255, 255, 255)
;

}
.hamburger{
    visibility: hidden;
}
.main-nav li a{
    font-size: 1.5rem;

    display: block;
    color: rgb(255, 255, 255);

    height: 130px;
    display: flex;
    margin-left: 50px;
    align-items : center;
    justify-content: center;
}
.main-nav li a:hover{
    color:  rgb(255, 255, 255);
    box-shadow: -6px 0 0  rgb(255, 255, 255) ,inset 0 -6px 0  rgb(255, 255, 255);
}


/* ACTIONS */
.search{
    align-self: center;
    height: 3em;
}
.actions{
    margin-bottom: 50px;
    display: none;
}

.top-key a{
    color:rgb(33, 41, 41) ;
    margin-inline-end: 10px;

}


 .container {
    margin: 0 auto;
    margin-bottom: 50px;
    padding-left: .6rem;
    padding-right: .6rem;
    box-sizing: unset;
}
 

.gallery{
    border: solid 1px;
    display: none;

}
.big{
    font-size: 3em;
}
.med{
    font-size: 1.5em;
}

.reset{
    display: none;
}


.Meme-Editor{
    display: none;
}

.editor-actions{
    display: grid;
    background-color: #97dbf131;
    border: rgb(255, 255, 255) 3px solid;
    grid-template-areas: 
    "text-line-1 text-line-1 text-line-1 text-line-1 text-line-1"
    "move-up move-down switch add-line delete "
    "size-up size-down left-area center-area right-area "
    "font font font size color"
    "stickers stickers stickers stickers stickers "
    "share share . download download"
    ;
    margin-left: .6rem;
    grid-template-columns:  repeat(5,1fr) ;
    grid-template-rows:  repeat(6,1fr) ;
    height: 508px;
}
.box{
    margin: 10px;
    font-size: 2em;
    text-align: center;
}
.editor-actions div button{
    height: 80%;
    width: 80%;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.8px rgb(0, 0, 0); 
    font-size: 2rem;
    background-color: #ffffff00 ;
    border: none;
    cursor: pointer;

}
.editor-actions div input{
    height: 80%;
    width: 100%;
    cursor: pointer;

}
.editor-actions div select{
    height: 80%;
    width: 100%;
    cursor: pointer;

}

.editor-actions div a{
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.8px rgb(0, 0, 0); 

    height: 80%;
    width: 80%;
}


.text-line-1{
    grid-area:text-line-1 ;

}

.text-line-2{
    grid-area:text-line-2 ;

}
.move-up{
    grid-column: 1 1.4;
    grid-area:move-up ;
    

}
.move-down{
    grid-area:move-down ;

}
.switch{
    grid-area:switch ;

}
.add-line{
    grid-area:add-line ;

}
.delete{
    grid-area:delete ;
}
.size-up{
    grid-area:size-up ;

}
.size-down{
    grid-area:size-down ;

}
.left-area{
    grid-area: left-area;

}
.center-area{
    grid-area:center-area ;

}
.right-area{
    grid-area:right-area ;

}
.font{
    grid-area:font ;

}
.size{
    grid-area:size ;

}
.color{
    grid-area:color ;

}
.stickers{
    grid-area:stickers ;

}
.share{
    grid-area:share ;

}
.download{
    grid-area:download ;
}

/* canvs */
.canvas-container{
    height: 508px;
    border: solid 4px rgb(255, 255, 255);
    width: 508px;
    margin-left: .6rem;

}

/* helpers */

.flex{
    display: flex;
}
.space-between{
    
    justify-content:space-between;

}
.space-evenly{
    justify-content: space-evenly;
}
.align-center{
    align-items: center;
}
.align-baseline{
    align-items: baseline;

}
.column{
    flex-direction: column;
}

.wrap{
    flex-wrap: wrap;
}
.clean-list{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

@media (max-width:900px){

    .main-header{
        margin-bottom: 0;
        height: 100px;
    }
    .main-nav li a{
        /* font-size: 1.5rem;
    
        display: block;
        color: rgb(255, 255, 255);
    
        height: 130px;
        width: 130px;
        display: flex;
        align-items : center;
        justify-content: center; */
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: 0;

    }

    .main-nav{
        position: fixed;
        top: 0;
        right: 0;
        transition: transform .6s;
        background-color: rgb(255, 255, 255);
        height: 100vh;
        padding: 0;
        flex-wrap: wrap;
        transform: translateX(100%);

        flex-direction: column;
    
    }
    .hamburger{
        visibility: visible;
        background-color: rgba(71, 51, 51, 0);
        border: none;
        cursor: pointer;
        font-size: 2rem;
        color: rgb(255, 255, 255);

    }
    .menu-open .main-nav {   
        transform: translateX(0%);
    }
    .main-nav li a{
        border-bottom:2px #97dbf1d7 solid;
        color:#292929;
        padding: 10px 16px;
        letter-spacing: .05em;
        box-shadow: none;

    
    }
    .main-nav li a:hover{
        background-color: #97dbf1d7;
        box-shadow: none;

    }
    
    .Meme-Editor{
    flex-direction: column;

    }
    .canvas-container{

        margin: 0 auto;
        max-width:300px;
        max-height: 300px;

        
    }
    
    .editor-actions{
 
        width: 300px;
        height: 10rem;
        margin: 0 auto;
        max-width: 100%;
        grid-template-columns:  repeat(7,1fr) ;
        grid-template-rows:  repeat(4,2.5rem) ;
        grid-template-areas: 
        "text-line-1 text-line-1 text-line-1 text-line-1 text-line-1 text-line-1 text-line-1"
        "move-up move-down switch add-line delete size-up size-down"
        "font  font font font left-area center-area right-area "
        "size color share share . download download"
        ;
        

    }
    .stickers{
        grid-area:stickers ;
        display: none;
    
    }
    .box{
        margin: 0;
        font-size: 1em;
        text-align: center;
        }
    .screen{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        cursor: pointer;
        visibility: hidden;
        opacity: 0;
    
        transition: opacity .6s;
    
    }
    .menu-open .screen  {
        visibility: visible;
        opacity: 1;
    }
    .photo{
        width: 20vw;
        max-height: 20vh;
        margin: 2px;
        border: rgb(255, 255, 255) 3px solid;
        
    
    }

    .welcome{
        font-size: 2rem;

    }
}